body {
    text-align: center;
    font-size: 1.9em;
}

h1  {
    font-size: 3em;
    margin-bottom: 30px;
}

form   {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    margin: 20px auto 0px;
    border: 1px solid black;
    width: 80%;
}

th {
    border: 1px solid black;
}

input {
    margin: 0 3%;
    font-size: 1em;
}


input[name='expense'] {
    width: 80%;
    text-align: center;
    font-size: 1.5em;
}

input[name="amount"] {
    width: 40%;
}


 td > span > span{
   margin-left: 30px;
}

button {
    margin: 10px;
    padding: 10px;
    width: 125px;
    font-size: 0.7em;
}

.categoryTd {
    display: flex;
    justify-content:center;
}

.spanWrapper {
    width: 180px;
}

.hiddenOption {
    display: none;
}

.shownOption {
    display: inline;
}




#horizontal {
    display: flex;
    padding-bottom: 2%;
    justify-content: right;
}

#dateContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#amountContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#itemSpan {
    width: 40%;
}

#dateSpan {
    width: 15%;
}

#categorySpan {
    width: 30%;
}





